body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

nav ul li {
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

nav1 .social-links {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

nav1 .social-links li {
    margin: 0 10px;
}

nav1 .social-links li a img {
    width: 24px;
    height: 24px;
}

.hero {
    background: url('back1.jpg') no-repeat center center/cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    background-color: #6c5ce7;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5a4cd7;
}

.about {
    background: url('girl.jpg') no-repeat center center/cover;
    background-size: cover;
    padding: 340px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ensures it doesn't overflow */
}

.intro {
    color: #4b3f3f;
    max-width: 600px;
    padding-left: 800px; /* Adjusted padding for better layout */
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
}

.intro p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}
/* Initially hide the content */
.toggle-content {
    display: none;
    margin-top: 10px;
}

.toggle-header {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #4b3f3f;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.toggle-header:hover {
    color: #e7e8ea;
}

/* Show the content when active */
.toggle-content.active {
    display: block;
}

.social-icons a {
    margin: 15px 10px;
    text-decoration: none;
}

.social-icons i {
    font-size: 29px;
    color: #070808; /* Adjust the color as needed */
}

.social-icons i:hover {
    color: #131416; /* Adjust the hover color */
}


.social-icons {
    display: flex;
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
    position: relative; /* For positioning the tooltip */
    display: inline-block;
}
.social-icons a::after {
    content: attr(title); /* Use the title attribute value */
    position: absolute;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1; /* Ensure it appears above other elements */
}

.social-icons a:hover::after {
    opacity: 1;
    visibility: visible;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.projects, .contact {
    padding: 50px 20px;
}

.projects h2, .contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.projects {
    padding: 80px 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.projects h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.projects p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    max-width: 800px;
    margin: 0 auto 50px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
}

.project-image img {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

.project-content {
    flex: 1;
    margin-left: 20px;
}

.project-content h3 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    text-align: left;
}

.project-content p {
    font-size: 0.9rem;
    margin-bottom: 50px;
    text-align: left;
}

.project-content .btn {
    text-decoration: none;
    align-items: center;
    background-color: #6252de;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-content .btn:hover {
    background-color: #150d5e;
}

.contact {
    background-color: #f4f4f4;
    padding: 30px 20px;
}

.contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.contact p {
    font-size: 1.0rem;
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

button {
    display: inline-block;
    background-color: #9f96e5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d2cd6;
}

footer {
    background-color: #605e5e;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    padding: 20px 0;
}

footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links li a img {
    width: 24px;
    height: 24px;
}

/* Media Queries for responsiveness */

/* For large screens */
@media (max-width: 1200px) {
    .intro {
        padding-left: 0; /* Adjust padding for large screens */
    }
}

/* For tablets */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        justify-content: center;
        margin-top: 20px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .project-item {
        flex-direction: column;
        text-align: center;
    }

    .project-content {
        margin-left: 0;
        margin-top: 20px;
    }

    .project-content h3,
    .project-content p {
        text-align: center;
    }
    .about {
        color: #fff; /* Change text color to white */
        background: url('small.png') no-repeat center center/cover;
    }

    .intro {
        color: #fff; 
    }
    
    .skills {
        color: #fff; 
    }

    .experience {
        color: #fff;
    }
    
    .toggle-header {
        color: #fff;
    }
}


.project-more {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100%;           /* Ensures the container takes the required height */
}

.center-btn {
    text-align: center;
    display: inline-block;
    padding: 20px 50px;
    font-size: 16px;
    text-decoration: none;
    background-color: #837f83;
    color: white;
    border-radius: 5px;
}

.center-btn:hover {
    background-color: #4a434a; /* Slightly darker shade for hover effect */
}


/***********************************************************************************************************/
/* For mobile screens */
@media (max-width: 480px) {
    .name {
        font-size: 1.2rem;
    }

    nav ul li {
        margin-left: 30px;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .about {
        padding: 200px 20px;
    }

    .about-container {
        width: 100%;
        padding: 10px;
    }

    .projects h2,
    .contact h2 {
        font-size: 2rem;
    }

    form {
        padding: 20px;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }
    .about {
        color: #fff; /* Change text color to white */
        background: url('small.png') no-repeat center center/cover;
    }

    .intro {
        color: #fff; 
    }
    
    .skills {
        color: #fff; 
    }

    .experience {
        color: #fff;
    }
    
    .toggle-header {
        color: #fff;
    }
}


